#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Table_1 {
  border-collapse: separate;
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Ellipse_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Ellipse_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Ellipse_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3005d723-aed9-49f6-85a6-ef0ddd51fe4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}