#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-392f7263-9345-4b10-b363-dd466b21b1f8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}