#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}