#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-a7ae4cdf-26d1-4000-a661-98f2490845c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}