#s-d7c977bf-77b2-4f93-92ad-61142e1b5619 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7c977bf-77b2-4f93-92ad-61142e1b5619 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7c977bf-77b2-4f93-92ad-61142e1b5619 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d7c977bf-77b2-4f93-92ad-61142e1b5619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}