#s-e4fa4809-0a30-443a-8c7f-01faa382f67d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4fa4809-0a30-443a-8c7f-01faa382f67d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4fa4809-0a30-443a-8c7f-01faa382f67d #s-Table_1 {
  border-collapse: separate;
}
#s-e4fa4809-0a30-443a-8c7f-01faa382f67d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4fa4809-0a30-443a-8c7f-01faa382f67d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4fa4809-0a30-443a-8c7f-01faa382f67d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-e4fa4809-0a30-443a-8c7f-01faa382f67d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}